
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

.suse {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }